*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  inline-size: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield {
  border: none;
  background: transparent;
  border-block-end: 1px solid #fff;
  border-block-start: 1px solid #fff;
  font-size: 18px;
  inline-size: 225px;
  block-size: 27px;
  font-family: inherit;
  color: #fff;
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:active {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  caret-color: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: flex;
  block-size: 19px;
  inline-size: 19px;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
}

.button {
  border: 1px solid #fff;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background: none;
  block-size: 34px;
  font-family: 'Fira Sans Condensed', sans-serif;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.more-button {
  inline-size: 100%;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 26px;
  inline-size: auto;
  block-size: auto;
}

.title {
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative;
}

.content__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
  padding: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: start;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}